.github/prompts/copilot-instructions.prompt.md
shared/.env.json
params.json
.vscode/settings.json
00-setup/params.json
**/local.settings.json
00-setup/functions/sql/local.settings.json
00-setup/functions/sql/local.settings.json
